body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logog{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat,url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
    box-shadow:inset 0 0 30px rgba(0,0,0,0.5);
}

.title__container{
    float: left; 
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px ;
    margin: 50px 14px 0px 8px;
}

.for_me {
    width: 100%;
    height: 720px;
    background: #fcfdfd; 
     
}
.for_me_container{  
    float: left;
    margin: 100px 0px 0px 700px;
    text-align: center;
    width: 730px;
    height: 520px;
    background: url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png) 267px 121px/auto no-repeat, url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) 328px 54px no-repeat; 
}
.for_me_container h3{
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}
.lore{
   color: #3f495a;
    margin: 345px 0px 0px 0px;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
}
.lore1{
   color: #3f495a;
    margin: 43px 10px 38px 0px;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
}
.for_me_container a{
    height: 33px;
    width: 56px;
    font-size: 14px;
    text-align: left;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    padding: 8px 15px 8px 34px ;
    margin: 50px 14px 0px 8px;
    background: url(../img/iconka.jpg) 13px 8px/auto no-repeat;
    font-weight: thin;
}

.what_can_i_do{
    width: 100%;
    height: 522px;
    background: url(../img/fon2.jpg) center/cover no-repeat;
}
.what_can_i_do_container{
    float: left;
    margin: 105px 0px 0px 525px;
    text-align: center;
    width: 1086px;
    height: 325px;
    background:url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) 500px 56px no-repeat, url(../img/comp.png) 95px 165px no-repeat, url(../img/ras.png) 360px 165px no-repeat, url(../img/raketa.png) 640px 165px no-repeat, url(../img/gram.png) 900px 165px no-repeat;
}
.what_can_i_do_container h3{
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.what_can_i_do_container li{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 200px 0px 0px 0px;
    margin: 0px 43px 0px 8px;
    width: 212px;
    height: 165px;
    color: #d38c2e;
    line-height: 18px;
}
.what_can_i_do_container p{
    color: #3f495a;
    margin: 22px 0px 0px 0px;
    font-size: 15px;
    font-weight: normal;
}
.cases{
    width: 100%;
    height: 260px;
    background: #fcfdfd;
}
.cases_1{
    float: left;
    margin: 105px 0px 0px 719px;
    text-align: center;
    width: 693px;
    height: 109px;
    background:url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) 310px 56px no-repeat;
}

.cases h3{
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}
.cases p{
    margin: 76px 0px 0px 0px;
    font-size: 15px;
    color: #3f495a;
}
.cas_form{
    width: 100%;
    height: 1000px;
    background: #fff;
    background: url(../img/scrin.png) 95px 0px no-repeat;
}
.cases_2{
    float: left;
    margin: 630px 0px 0px 480px;
    text-align: left;
    float: left;
    
}
.cases_2 h4{
    font-size: 20px;
    font-weight: bold;
    color: #3f495a;
    line-height: 40px;
}
.p1{
    font-size: 15px;
    color: #3f495a;
    line-height: 40px;
}
.cases_2 h5{
    font-size: 20px;
    font-weight: bold;
    color: #3f495a;
    line-height: 40px;
}
.p2{
    font-size: 15px;
    color: #3f495a;
    line-height: 40px;
}
.cases_2 a{
    height: 44px;
    text-align: center;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 15px 44px ;
    margin top:100px;
    float: left;
}
.cases_3{
    float: left;
    margin: -205px 0px 0px 790px;
    text-align: left;
}
.cases_3 h3{
    font-size: 20px;
    font-weight: bold;
    color: #3f495a;
    line-height: 40px;
}
.cases_3 p{
    display: inline-block;
    height: 65px;
    width: 850px;
    text-align: justify;
    font-size: 15px;
    color: #3f495a;
    line-height: 25px;
    font-weight: 500;
}
.form{
    width: 100%;
    height: 800px;
    background: #fff;
    background: url(../img/line.jpg) bottom 270px right 600px no-repeat;
}
.form h2{
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    color: #1c2534;

}
.payment{
    margin: 60px 0px 0px 600px;
    text-align: left;
    width: 700px;
    height: 400px;
}
.payment h3{
    text-align:left;
    font-size: 22px;
    font-weight: 600;
    color: #1c2534;
}
.punkt{
    display: inline-block;
    height: 58px;
    width: 892px;
    background: #eeeeee;
    text-align:left;
    font-size: 15px;
    color: #737373;
    line-height: 25px;
    margin: 20px 0px 40px 0px;
    padding: 0px 50px 0px 25px;
}
.itog{
    margin: 50px 0px 0px 600px;
    text-align: left;
    width: 900px;
    height: 80px;
    text-align:justify;
    font-size: 20px;
    font-weight: 600;
    color: #1c2534;
    line-height: 30px;
}
.nol1{
    display: inline-block;
    margin-left: 810px;
    font-size: 30px;
}

.nol2{
    display: inline-block;
    margin-left: 763px;
    font-size: 30px;
}
.stat{
    width: 100%;
    height: 500px;
    background: url(../img/fonstat.jpg) center/cover no-repeat;
}
.stat1{
    float: left;
    margin: 85px 0px 0px 290px;
    text-align: center;
    width: 1500px;
    height: 300px;
    letter-spacing: -1px;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) bottom 230px right 730px no-repeat, url(../img/smile.png) no-repeat bottom 100px left 250px,url(../img/skob.png) bottom 100px left 545px no-repeat,url(../img/galoch.png) bottom 100px left 860px no-repeat,url(../img/prize.png) bottom 100px left 1160px no-repeat;;
}
.stat1 h3{
    font-size: 33px;
    font-weight: bold;
    color: #323e4f;
}

.stat1 li{
    display: inline-block;
    font-size: 15px;
    padding: 200px 0px 0px 0px;
    margin: 0px 43px 0px 8px;
    width: 250px;
    height: 150px;
    color: #323e4f;
    line-height: 50px;
    font-weight: 600;
}
.stat1 b{
    font-size: 33px;
    font-weight: 900;
}
.reviews{
    width: 100%;
    height: 597px;
    background: #fff;
    background: url(../img/orang%202.png) bottom 175px left 1030px no-repeat, url(../img/orang%202.png) bottom 175px left 1050px no-repeat,url(../img/orang.jpg) bottom 175px left 1010px no-repeat, url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) top 55px left 1000px no-repeat ,url(../img/%D0%B3%D0%B0%D0%B7.png) bottom 365px left 990px no-repeat;
}
.rev{
    width: 700px;
    height: 350px;
    text-align: center;
    margin: 120px 0px 0px 690px;
}
.rev h3{
    font-size: 30px;
    font-weight: bold;
    color: #323e4f;
}
.lore3{
    margin: 238px 0px 0px 0px;
    color: #3f495a;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
}
.lore4{
    margin: 40px 0px 0px 0px;
    color: #3f495a;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
}
.contacts {
    width: 100%;
    height: 800px;
    background:url(../img/truba.png) top 250px left 1290px no-repeat, url(../img/conv.png) top 250px left 1040px no-repeat, url(../img/geo.png) top 250px left 785px no-repeat, url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) top 160px left 1015px no-repeat, url(../img/foncon.jpg) center/cover no-repeat;
}
.cont{
    float: left;
    width: 1000px;
    height: 225px;
    margin: 105px 0px 0px 540px;
    text-align: center;
    color: white;
}
.cont h3{
    font-size: 30px;
    font-weight: bold;
}

.cont p{
    margin: 60px 0px 0px 0px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #e9e9ea;
}
.cont li{
    display: inline-block;
    margin: 85px 50px 0px 50px;
    line-height: 18px;
    vertical-align:top;
    font-weight: 600;
    color: #e9e9ea;
}
.cont1{
    float: left;
    width: 750px;
    height: 300px;
    margin-top: 400px 0px 0px 700px;
}
.cont h4{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 60px;
    
}
.inpute{
    background: #d2d6dc;
    width: 350px;
    height: 34px;
    margin: 37px 15px 0px 15px;
    vertical-align:top;
    font-weight: 600;
    color: #5d5d5e;
    font-size: 15px;
    padding: 5px 0px 0px 15px;
}
.cont textarea{
    background: #d2d6dc;
    width: 733px;
    height: 92px;
    margin: 15px 0px 0px 0px;
    vertical-align:top;
    font-weight: 600;
    color: #5d5d5e;
    font-size: 15px;
    padding: 13px 0px 0px 16px;
}

.otp {
    width: 120px;
    height: 45px;
    text-align: center;
    border: 3px solid #fff;
    background: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 0px 16px ;
    margin: 50px 14px 0px 8px;
}
.carta {
    width: 100%;
    height: 353px; 
    background: url(../img/carta.jpg) center/cover no-repeat;
}
.carta h3{
    float: left;
    width: 135px;
    height: 50px;
    text-align: center;
    margin: 140px 0px 0px 960px;
    background: #fff;
    padding: 17px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    box-shadow: 0px 5px 0px rgba(170, 189, 162, 0.3);;
}
.end{
    width: 100%;
    height: 95px;  
    background: #354051;
}
.end p{
    float: left;
    text-align: center;
    margin: 43px 0px 0px 900px;
    color: #fff;
    letter-spacing: -1px;
    font-size: 18px;
}
